*{
    margin: 0;
    padding: 0;
    font-family: "Archivo Narrow", sans-serif;
    box-sizing: border-box;
}
.todoapp-container{
    width: 100%;
    min-height: 100vh;
    background: lightslategray;
    padding: 8px;
}
.to-do-app{
    width: 100%;
    max-width: 540px;
    background-color: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do-app h2{
    color: darksalmon;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do-app img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px
}
button{
    border: none;
    outline: none;
    padding: 12px 45px;
    background-color: rgb(216, 129, 23);
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 35px;
}
ul li{
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
ul li.checked{
    background: #bcaca5;
    color: #fff;
    text-decoration: line-through;
}
ul li span str{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #f01b1b;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
ul li str{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #0ae963;
    line-height: 40px;
    text-align: center;
    margin-right: 40px;
    border-radius: 50%;
}
ul li str:hover{
    background: #edeef0;
}